* {
    margin: 0;
    padding: 0; 

}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white; 
    padding: 50px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    /* margin-left: auto; 
    margin-right: auto; */
    background-color: #1f2937;
    padding: 20px; 
    display: flex; 
    align-items: start;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 5px;
    /* width: 400px; */
}

h1 {
    font-size: 40px;
    margin-bottom: 10px; 
}

#heading-green {
    color: #34d399; 
    display: block; 

}

#para {
    margin-bottom: 30px; 
    display: block; 
}

button{
    background-color: #10b988;
    border: none; 
    padding: 10px 20px; 
    font-size: 15px;
    color: white; 
    font-weight: bold; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    cursor: pointer; 
}
button:hover {
    opacity: 0.8;
}
hr {
    width: 100%; 
    opacity: 0.1;
}

.result {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 30px; 
    width: 100%;
}
.result p {
    margin-left: 10px;
    cursor: pointer; 
}
.generated-password {
    font-weight: 20px; 
    padding: 10px 20px; 
    background-color: #273549;
    border: none; 
    border-radius: 2px;
}


.toast {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translate(-50%);
    display: none;
}